<!DOCTYPE html>
<html>
<head>
  <title>RailsElmIntegration</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= javascript_include_tag 'application' %>

  <script type="text/javascript" src="http://0.0.0.0:8000/elm.js"></script>

  <!-- Comment out the below line to disable elm-reactor support. -->
  <script type="text/javascript" src="http://0.0.0.0:8000/_reactor/debug.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<nav class="mxn1">
		<%= link_to "elm-reactor", one_path, class: "btn button-narrow" %>
		<%= link_to "elm-make", two_path, class: "btn button-narrow" %>
		<%= link_to "webpack", three_path, class: "btn button-narrow" %>
	</nav>

	<div class="px3 border">
		<%= yield %>
	</div>

</div>

</body>
</html>
