<!DOCTYPE html>
<html>
<head>
  <title>RailsElmIntegration</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<nav>
		<%= link_to "One", one_path %>
		<%= link_to "Two", two_path %>
	</nav>

	<%= yield %>
</div>

</body>
</html>
